.App {
  text-align: center;
}

.layout {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.header {
  grid-column: 1 / span 2;
  justify-content: center;
  align-content: center;
  border: dotted 1px red;
}

.header h1 {
  width: fit-content;
}

.body {
  border: dotted 1px red;
}

.nav {
  border: dotted 1px red;
  color:white;
}

.App-header {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}