.App {
  text-align: center;
}

.layout {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.header {
  grid-column: 1 / span 2;
  border: dotted 1px red;
  display: flex;
}

.header h1 {
  width: fit-content;
}

.body {
  border: dotted 1px red;
}

.nav {
  border: dotted 1px red;
  color:white;
}

.logout {
  color: blue;
}
.logout:hover {
  cursor: pointer;
}